<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{movie/default}">	<!-- 기본은 templates폴더 임 -->


<head>
	<title layout:fragment="title">영화리뷰</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>	<!-- 이 부분에 인크루드 된다. -->
			
</head>
	
	<div layout:fragment="main" id="main"><!-- 여기까지는 바뀌지 않고 아래의 <div>에 내용만 넣어주면 된다. -->
		<div id="session_top">
			<h3>영화관람 24시간 내 작성된 후기</h3>
			<p> <a href="/movieMenu/reviewWrite">리뷰작성</a>
		</div>
		
		<div id="session_middle">
			<table id="reviewList">
				<tr>
					<th class="num">번호</th>
					<th class="title">제목</th>
					<th class="date">작성일</th>	
					<th class="writer">작성자</th>
					<th class="content">내용</th>
							
				</tr>
				
				<!-- th:each="변수 : ${배열 또는 컬렉션}" 
					동작 -> ${}의 0인덱스 값부터 변수에 하나씩 저장된다.
				-->
				<!-- 
					thymeleaf 날짜 출력
					${#temporals.formatISO(변수명)}
					
					${#dates.format(변수명, 'yyy-MM-dd HH:mm')} -> 2024-08-19 10:32
					${#temporals.format(변수명, 'yy-MM-dd)} ->24-08-19
				 -->
				<tr th:each="row : ${reviewList}">
					<td class="num" th:text="${row.review_id}"></td>
					<td class="title">
						<a th:href="@{'/movieMenu/view/'+${row.review_id}}" th:text="${row.title}"></a>
					</td>
					<td class="date" th:text="${#temporals.format(row.write_date,'yyyy-MM-dd')}"></td>	
					<td class="writer" th:text="${row.writer}"></td>
					<td class="content" th:text="${row.content}"></td>
				</tr>
			</table>
		</div>
		
		<div id="session_bottom">
			<div id="searchBox">
			</div>
		</div>


	</div>


</html>