<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{default}">
		
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/css/logInAndSignUp.css">
	</th:block>
	<th:block layout:fragment="script">
		<script src="/js/logIn.js"></script>
	</th:block>
	
	<head>
		<title layout:fragment="title">회원가입</title>
	</head>	

	<div layout:fragment="main" id="mainIndex">
		<form method="post" th:action="@{signUp}" th:object="${signUpMember}">
			<div id="signUp">
				<div id="signUpTop">
					<div class="signUpdata">
						e-mail<input type="email" th:field="*{email}">
						<label th:for="email"></label>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fiedlError"></p>
					</div>
					<div class="signUpdata">
						password<input type="password" th:field="*{password}">
						<label th:for="password">
							<b id="pw1"></b>
						</label>
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
					</div>
					<div class="signUpdata">
						password-check<input type="password" id="chk">
						<label th:for="chk">
							<b id="pw2"></b>
						</label>
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
					</div>
					<div class="signUpdata">
						name<input type="text" th:field="*{name}">
						<label th:for="name"></label>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
					</div>
					<div class="signUpdata">
						Tel<input type="text" th:field="*{tel}">
						<label th:for="tel"></label>
						<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="fieldError"></p>
					</div>
					<div class="signUpdata">
						<div class="selBirth">
							생일 년 월
							<select th:field="*{birthYear}"></select>
							<label th:for="birthYear">년</label>
							<select th:field="*{birthMonth}"></select>
							<label th:for="birthMonth">월</label>	
						</div>	
					</div>	
				</div>
				<div id="signUpBottom">
					<button class="joinBt">signUp</button>
				</div>
					
			</div>	
			
		</form>
			
		
		
	</div>



</html>