@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

ul{list-style:none;}
a{color:inherit; text-decoration:none;}

#wrap{
	width:1000px;
	margin:0 auto;
}
#header{
	background-color:#b8b;
	padding:0 20px;
}

#nav{
	padding:10px 0;
	position:sticky;
	top:0;
	display:flex;
	align-items:center;
}

#menuList{
	width:600px;
	display:flex;
	gap:30px;
}

#userALogo{
	width:400px;
	display:flex;	/* display:flex를 줘야 높이가 생성되어 이미지가 들어간다 */
	align-items:center;
}

#userALogo .logo{
	margin:0 0 0 15px;
	border-radius:10px;
	background:url(/image/game.png) no-repeat center;
	background-size:cover;
	width:40%;
	cursor:pointer;
	height:65px;
}

#userALogo .userBox{
	display:flex;
	gap:25px;
	width:60%;
}

.mainWrap{
	
	width:28%;
	margin:20px auto;
	background-color: #ccc;
	border-radius:5px;
	padding:5px;
	
}
#formData input{
	height:30px;
	border-radius:5px;
}

#formData .loginBt button{
	width:100%;
	height:40px;
	margin:5px 0;
	border-radius:10px;
	background-color:#b8b;
	font-size:20px;
	
}