<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.movieAndgame.Dao.GameMemberDao">
	
	<insert id="insert" parameterType="com.movieAndgame.Dto.GameMemberDto">	<!-- MovieMemberDao에서 insert메서드와 매핑 --> 
		insert into game_member(email, password, name, tel, birth_year, birth_month)	<!-- database -->
			values(#{email}, #{password}, #{name}, #{tel}, #{birthYear}, #{birthMonth})	<!-- MovieMemberDto -->
	</insert>
	
	<select id="findAllEmail" resultType="String">
		select email from game_member;
	</select>
	
	<select id="login" resultType="com.movieAndgame.Dto.GameMemberDto"
			parameterType="com.movieAndgame.Dto.GameMemberDto">
				select email, name, tel, birth_year, birth_month
				from game_member
				where email=#{email} and password=#{password}
	
	</select>
	
</mapper>