<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{game/default}">
<head>
	<title layout:fragment="title">로그인(게임)</title>
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/css/game_login.css">
	</th:block>
	
	<th:block layout:fragment="script">
		<script src="/css/game_login.js"></script>
	</th:block>
	
	<th:block th:if="${fail}">
		<script th:inline="javascript">
			alert("아이디 또는 비밀번호가 잘못 되었습니다.");
		</script>
</head>

<body>

		<!-- login.html -->
		
		<div layout:fragment="main" id="main" class="mainWrap">
			<div id="loginWrap">
				<form method="post" th:action="@{/game/signIn}" th:object="${member}">
					<div id="formData">
						<div class="inputField">
							<input type="text" th:field="*{email}">
							<lavel th:for="email">아이디</lavel> <!-- input태그의 아이디가 있어야 오류가 발생하지 않는다. -->
						</div>
						<div class="inputField">
							<input type="password" th:field="*{password}">
							<lavel th:for="password">비밀번호</lavel>
						</div>
						<div class="loginBt">
							<button>LOGIN</button>
						</div>
					</div>
				</form>
				
				<div id="forget_new">
					<a href="">아이디/비밀번호찾기</a>
					<a href="/game/signUp">회원가입</a>
				</div>
			</div>
		</div>

</html>